<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
            <!--<Label class="footnote" text="username@mail.com"></Label>-->
        </StackLayout>
    
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/todo-list')" (tap)="onNavItemTap('/todo-list')">
                    <Label col="0" text="&#xf0ca;" class="fa"></Label>
                    <Label col="1" text="Todo List" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/todo-detail')" (tap)="onNavItemTap('/todo-detail')">
                    <Label col="0" text="&#xf0fe;" class="fa"></Label>
                    <Label col="1" text="Add ToDo" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
